// fontawesome
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';


// buttons 
@mixin primary_button_style {
    border: none;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    text-transform: uppercase;

    background-color: #fed03d;
    color: #6b6b6b;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #333333;
        color: white;
    }
}

@mixin secondary_button_style {
    border: none;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    text-transform: uppercase;

    background-color: #333333;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #fed03d;
        color: #6b6b6b;
    }
}

@mixin terziary_button_style {
    border: solid 1px white;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    text-transform: uppercase;

    background-color: #333333;
    color: white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        border: solid 1px #333333;
        background-color: white;
        color: #6b6b6b;
    }
}

// FONTS

@mixin raleway_font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

@mixin roboto_font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}


// TITLES and PARAGRAPHS tools

@mixin h2_primary_title {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    font-size: 1.5rem;
    text-transform: capitalize;
    padding-top: 5rem;
    color: #333333;
}

@mixin p_primary {
    width: 50%;
    font-size: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 4rem;

    text-align: center;
    color: #6b6b6b;
}

@mixin hr_primary {
    width: calc(100%/10);
    border: 1px solid #fed03d;
    margin: 0.2rem;
    opacity: 1;
}